<mat-toolbar color="primary">
  Websock
  <!-- <i class="material-icons">
        menu
        </i> -->
  <!-- <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button> -->
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #drawer mode="side" opened>
    <ul #navlist>
      <li *ngFor = "let field of inputFields">
        <mat-form-field appearance="legacy">
          <mat-label>
            <mat-icon>{{field.icon ? field.icon : 'fiber_manual_record'}}</mat-icon> {{field.key}}
          </mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </li>
    </ul>
    <div class="center">
      <button mat-button (click)=addStop()>
        <mat-icon>add</mat-icon> add stop
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>